.header {
  &.header--active {
    .header_container {
      border-bottom-width: 1px;
      border-bottom-color: rgba(rgb($beige-3), 0.12);
    }
  }

  @media only screen and (min-width: theme('screens.lg')) {
    &.header--active {
      .header_container {
        border-bottom-width: 0px;
      }

      .header_navigation_desktop {
        display: flex;
        opacity: 1;
        pointer-events: initial;
        transition: 0.3s 0.3s opacity;
      }
    }
  }

  @media only screen and (max-width: theme('screens.lg')) {
    &.header--active {
      .header_logo,
      .header_logo-dark {
        display: none !important;
      }

      .header_menu_label {
        display: block !important;
      }

      .header_button_svg {
        background-color: rgb($beige-3) !important;
        color: rgb($blue) !important;
      }
    }
  }
}

.header_logo {
  display: block;

  &-dark {
    display: none;
  }
}

.header_container {
  border-bottom-color: rgba(rgb($beige-3), 0);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  transition: padding-top 0.3s;
}

.header_button {
  &.header_button--active {
    .header_button_svg svg {
      transform: rotate(45deg);
    }

    .header_button_label {
      transform: translateX(100%);
    }
  }

  @media only screen and (min-width: theme('screens.lg')) {
    &.header_button--active {
      .header_button_label {
        transform: translateX(0%);
        left: 0;
        pointer-events: none;
        z-index: -1;

        span {
          transition: opacity 0s;
          opacity: 0;
        }
      }
    }
  }
}

.header_button_svg {
  background-color: rgb($beige-3);

  svg {
    transform: rotate(0);
    transition: transform 0.3s;
  }
}

.header_button_label {
  transition: transform 0.3s, left 0.3s;
  transform: translateX(0);
  background-color: rgb($beige-3);

  @media only screen and (min-width: theme('screens.lg')) {
    position: absolute;
    left: calc(470px - 93px);
    right: 48px;

    span {
      transition: opacity 0.3s 0.3s;
    }
  }
}

.header_navigation_mobile {
  display: grid;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &--active {
    opacity: 1;
    pointer-events: initial;
  }
}

.header_navigation_desktop {
  opacity: 0;
  pointer-events: none;
  background-color: rgb($beige-3);
}

.header--sticky {
  .header_container {
    padding-top: rem-calc(16);
  }
}

.header--sticky:not(.header--forced-light):not(.header--forced-dark) {
  &.header--light {
    .header_logo {
      display: none;

      &-dark {
        display: block;
      }
    }

    .header_button_svg {
      background-color: rgb($blue);
      color: rgb($beige-3);
    }

    .header_button_label {
      background-color: rgb($blue);
      color: rgb($beige-3);
    }

    .header_navigation_desktop {
      background-color: rgb($blue);

      a {
        color: rgb($beige-3);
      }
    }
  }
}

.header--dark {
  .header_button_svg {
    background-color: rgb($blue);
    color: rgb($beige-3);
  }

  .header_button_label {
    background-color: rgb($blue);
    color: rgb($beige-3);
  }

  .header_navigation_desktop {
    background-color: rgb($blue);

    a {
      color: rgb($beige-3);
    }
  }

  .header_logo {
    display: none;
  }

  .header_logo-dark {
    display: block;
  }
}

.header--forced-light {
  .header_logo {
    display: block;
  }

  .header_logo-dark {
    display: none;
  }

  .header_button_svg {
    background-color: rgb($beige-3);
    color: rgb($blue);
  }

  .header_button_label {
    background-color: rgb($beige-3);
    color: rgb($blue);
  }

  .header_navigation_desktop {
    background-color: rgb($beige-3);

    a {
      color: rgb($blue);
    }
  }
}

.header_footer {
  .rich-text > * {
    color: rgb($beige-3);
    font-size: 0.75rem /* 12px */;
    line-height: 1rem;
  }
}
