// import utils
@import '../utils/functions';
@import '../base/variables';

.instagram-reels__button--prev,
.instagram-reels__button--next {
  display: none;

  &.active {
    display: flex;
  }
}

.instagram-reels__swiper {
  padding-right: rem-calc(24);
}

.instagram-reels__button--prev {
  @media only screen and (min-width: 1500px) {
    left: rem-calc(-48);
  }
}
