// import utils
@import '../utils/functions';
@import '../base/variables';

.provoke {
  height: 100vh;
  min-height: 100vh;

  height: 100svh;
  min-height: 100svh;

  overflow: hidden;
}

.provoke__wrapper {
  height: 100%;
  padding-left: rem-calc(16);
  padding-right: rem-calc(24);
}

.provoke__section {
  height: auto;
  margin-right: rem-calc(48);
}

.provoke__section--social-media {
  width: rem-calc(450);
  height: 100%;
  display: flex;
  padding-top: rem-calc(24);
  padding-bottom: rem-calc(24);

  &:nth-child(odd of .provoke__section--social-media) {
    align-items: flex-start;

    &>* {
      transform: rotate(-6deg);
    }
  }

  &:nth-child(even of .provoke__section--social-media) {
    align-items: flex-end;

    &>* {
      transform: rotate(6deg);
    }
  }

  @media only screen and (min-width: theme('screens.lg')) {
    width: rem-calc(564);
  }
}

.provoke__section--product {
  width: rem-calc(340);
  height: 50%;
  padding-top: rem-calc(24);
  transform: translateX(0rem) rotate(0deg);
  transition: .3s;

  &.provoke__section--top {
    padding-top: rem-calc(70);
  }

  @media only screen and (min-width: theme('screens.lg')) {
    width: rem-calc(380);
  }

  &.provoke__section--product-rotate-1 {
    transform: translateX(.3rem) rotate(-3deg);
  }

  &.provoke__section--product-rotate-2 {
    transform: translateX(18rem) rotate(6deg);
  }

  &.provoke__section--product-rotate-3 {
    transform: translateX(6rem) rotate(-1deg);
  }

  &.provoke__section--product-rotate-4 {
    transform: translateX(26rem) rotate(-4deg);
  }
}

.provoke__section--article {
  width: rem-calc(340);
  height: 35%;
  display: flex;
  align-items: center;

  &:nth-child(odd of .provoke__section--article) {
    &>* {
      transform: rotate(-6deg);
    }
  }

  &:nth-child(even of .provoke__section--article) {
    &>* {
      transform: rotate(6deg);
    }
  }

  @media only screen and (min-width: theme('screens.lg')) {
    width: rem-calc(600);
  }
}

.provoke__section--recipe {
  width: rem-calc(480);
  height: 60%;
  display: flex;
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(24);
  transition: .3s transform ease, 3s background ease;
  transform: rotate(0deg);

  &:nth-child(odd of .provoke__section--recipe) {
    align-items: flex-start;
  }

  &:nth-child(even of .provoke__section--recipe) {
    align-items: flex-end;
    height: 100%;
  }

  &:hover {
    transform: rotate(0deg) !important;
  }

  &.provoke__section--recipe-rotate-1 {
    transform: rotate(-3deg);
  }

  &.provoke__section--recipe-rotate-2 {
    transform: rotate(6deg);
  }

  &.provoke__section--recipe-rotate-3 {
    transform: rotate(-1deg);
  }

  &.provoke__section--recipe-rotate-4 {
    transform: rotate(-4deg);
  }
}

.provoke__section--video {
  width: rem-calc(400);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.provoke__section--image {
  width: rem-calc(340);
  height: 30%;
  overflow: hidden;

  .provoke__item-image {
    overflow: hidden;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.provoke__section--top {
    top: 0 !important;
    transform: translateY(0) !important;

    .provoke__item-image {
      border-radius: 0 0 rem-calc(24) rem-calc(24);
    }
  }

  &.provoke__section--bottom {
    top: initial !important;
    bottom: 0 !important;
    transform: translateY(0) !important;

    .provoke__item-image {
      border-radius: rem-calc(24) rem-calc(24) 0 0;
    }
  }

  @media only screen and (min-width: theme('screens.lg')) {
    width: rem-calc(600);
  }
}

// Special case for video items
.provoke__item-video {
  position: relative;
  width: 80%;
  aspect-ratio: 9 / 16;
  border-radius: rem-calc(24);
  overflow: hidden;

  @media only screen and (min-width: theme('screens.lg')) {
    width: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.provoke__section--placeholder {
  width: rem-calc(200);
  height: rem-calc(200);
}

.provoke__item-product-image {
  width: 100%;
  mask-image: var(--mask-image);
  -webkit-mask-image: var(--mask-image);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  overflow: hidden;
}

.provoke__filter-button {
  padding: .5rem 1rem;
  border-radius: 999px;

  &[data-active="true"] {
    background-color: #23195F11;
  }
}