@import '../utils/functions';
@import '../base/variables';

.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  clip-path: circle(200vh at 50% -100vh);

  clip-path: circle(200svh at 50% -100svh);
  height: 100svh;
  min-height: 100svh;

  @media only screen and (min-width: theme('screens.lg')) {
    background-attachment: fixed;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: -1;
  }
}
