// import utils
@import '../utils/functions';
@import '../base/variables';

.occasions-hero__images {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.occasions-hero__image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 101%;
  will-change: transform;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

.occasions-hero__container {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.occasions-hero__content {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100vh;
  height: 100dvh;
  min-height: 100dvh;
  width: 100%;
  overflow: hidden;
}

.occasions-hero__description {
  &.disabled {
    pointer-events: none;
  }
}

.occasions-hero__menu-item {
  &.active {
    .occasions-hero__menu-item-button {
      background-color: rgb($orange);
    }
  }

  &:hover {
    &.active ~ .occasions-hero__menu-button a {
      background-color: rgb($blue);
      color: rgb($white);
    }
  }
}

.occasions-hero__menu-item {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;

  a {
    font-size: 1.8rem;
    transition: font-size 0.3s ease-in-out;
  }

  .occasions-hero__menu-item-fake-link {
    opacity: 0;
  }

  &.active {
    a {
      font-size: 2.5rem;
    }

    opacity: 1;

    .occasions-hero__menu-item-fake-link {
      opacity: 1;
    }
  }

  @media only screen and (min-width: theme('screens.lg')) {
    a {
      font-size: 4rem;
    }

    &.active {
      opacity: 1;

      a {
        font-size: 6rem;
      }
    }
  }
}

.occasions-hero__trigger-block {
  height: 50vh;
}
