// import utils
@import '../utils/functions';
@import '../base/variables';

.ingredient-banner__bg {
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: theme('screens.lg')) {
    &:hover {
      .ingredient-banner__button {
        background-color: rgb($blue);
        color: rgb($beige-3);
      }

      .ingredient-banner__image--left {
        transform: rotate(-5deg) translateY(-50px);

        &.ingredient-banner__image--single {
          transform: rotate(-5deg) translateY(-20px);
        }
      }

      .ingredient-banner__image--right {
        transform: rotate(5deg) translateY(-20px);
      }
    }
  }
}

.ingredient-banner__button {
  transition: all 0.3s ease-in-out;
}

.ingredient-banner__image--left {
  transition: all 0.3s ease-in-out;
  transform: rotate(-4deg) translateY(40px);
  z-index: 2;

  @media only screen and (min-width: theme('screens.lg')) {
    transform: rotate(-12deg) translateY(0);
    left: -20%;

    &.ingredient-banner__image--single {
      left: 0;
      bottom: rem-calc(-40);
    }
  }
}

.ingredient-banner__image--right {
  transition: all 0.3s ease-in-out;
  transform: rotate(4deg) translateY(100px);
  z-index: 1;

  @media only screen and (min-width: theme('screens.lg')) {
    transform: rotate(12deg) translateY(40px);
    right: -30%;
  }
}
