@layer base {
  :root {
    // colors
    --blue: #{$blue};
    --beige: #{$beige};
    --beige-3: #{$beige_3};
    --white: #{$white};

    // fonts
    --font-figtree: #{$font-figtree};
    --font-gazpacho: #{$font-gazpacho};
  }
}

body {
  &.disabled {
    overflow: hidden;
  }
}
