////////////
/* Fonts */
////////////
$font-myriad: 'myriad-pro', 'system-ui', 'sans-serif';
$font-gotham: 'Gotham Pro', 'system-ui', 'sans-serif';
$font-gotham-narrow: 'GothamProNarrow', 'system-ui', 'sans-serif';
$font-cocogoose: 'Cocogoose Pro', 'system-ui', 'sans-serif';
$font-cocogoose-block: 'Cocogoose Pro Block', 'system-ui', 'sans-serif';

////////////
/* Colors */
///////////
$black: 0 0 0;
$blue_dark: 4 33 48;
$blue_light: 26 49 61;
$content: 100 99 99;
$pink: 232 46 137;
$white: 255 255 255;
$white_dark: 252 252 252;

////////////
/* Gradient */
////////////
$gradient_blue: linear-gradient(85deg, #00aec7 42.74%, #01b2a2 115.86%);
$gradient_pink: linear-gradient(83.63deg, #df007e 0%, #e82e89 100%);

////////////
/* Sizes */
///////////
$page-max-width: 82.5rem;
$page-min-width: 20rem;
