////////////
/* Fonts */
////////////
$font-figtree: 'Figtree', 'system-ui', 'sans-serif';

////////////
/* Colors */
///////////
$blue: 35 25 95;
$beige: 222 179 122;
$white: 255 255 255;

////////////
/* Gradient */
////////////

////////////
/* Sizes */
///////////
$page-max-width: 82.5rem;
$page-min-width: 20rem;
