.footer_logo {
  &:first-child {
    .footer_logo_image {
      padding: rem-calc(5) rem-calc(20) rem-calc(5) 0;
      border-right: 1px solid rgba(rgb($blue_dark), 0.2);
    }
  }

  &:nth-child(odd) {
    .footer_logo_image {
      margin-left: auto;

      @media only screen and (min-width: theme('screens.md')) {
        margin: 0 auto;
      }
    }
  }

  &:nth-child(even) {
    .footer_logo_image {
      margin-right: auto;

      @media only screen and (min-width: theme('screens.md')) {
        margin: 0 auto;
      }
    }
  }
}

.footer_logo_image {
  width: fit-content;
}
