.container {
  padding-left: rem-calc(16);
  padding-right: rem-calc(16);
  max-width: $page-max-width;
  margin: 0 auto;
  width: 100%;

  &--lg {
    padding-left: rem-calc(0);
    padding-right: rem-calc(0);
    max-width: 100%;

    @media only screen and (min-width: theme('screens.lg')) {
      padding-left: rem-calc(16);
      padding-right: rem-calc(16);
      max-width: $page-max-width;
      margin: 0 auto;
      width: 100%;
    }
  }

  &--right {
    padding-left: rem-calc(16);
    margin: 0 0 0 calc((100vw - $page-max-width) / 2);
    width: 100%;
    max-width: calc(100vw - ((100vw - $page-max-width) / 2));
  }

  &__large {
    max-width: rem-calc(1440);
  }

  &__small {
    max-width: rem-calc(650);
  }

  &__no_pr {
    padding-right: 0;

    @media only screen and (min-width: theme('screens.lg')) {
      padding-right: rem-calc(20);
    }

    @media only screen and (min-width: theme('screens.xl')) {
      padding-right: rem-calc(25);
    }
  }
}

.no-container {
  &--lg {
    @media only screen and (min-width: theme('screens.lg')) {
      max-width: 100%;
      padding-left: rem-calc(0);
      padding-right: rem-calc(0);
    }
  }
}

.custom-space {
  padding-top: var(--mobile-top-space);
  padding-bottom: var(--mobile-bottom-space);

  @media only screen and (min-width: theme('screens.xl')) {
    padding-top: var(--desktop-top-space);
    padding-bottom: var(--desktop-bottom-space);
  }
}
