// import utils
@import '../utils/functions';
@import '../base/variables';

%titles {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    letter-spacing: -0.025rem;
    color: currentColor;
    font-weight: 700;
  }

  h5,
  h6 {
    font-family: $font-figtree;
    font-weight: 500;
  }

  h1 {
    font-size: rem-calc(24);
  }

  h2 {
    font-size: rem-calc(24);
  }

  h3 {
    font-size: rem-calc(20);
  }

  h4 {
    font-size: rem-calc(18);
  }

  h5 {
    font-size: rem-calc(18);
  }

  h6 {
    font-size: rem-calc(16);
  }

  @media only screen and (min-width: theme('screens.lg')) {
    h1 {
      font-size: rem-calc(32);
    }

    h2 {
      font-size: rem-calc(32);
    }

    h3 {
      font-size: rem-calc(24);
    }

    h4 {
      font-size: rem-calc(20);
    }

    h5 {
      font-size: rem-calc(18);
    }

    h6 {
      font-size: rem-calc(16);
    }
  }
}

%links {
  a {
    text-decoration: underline;
  }
}

%lists {
  ul,
  ol {
    list-style-position: inside;
    font-size: rem-calc(16);
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.025rem;
    padding-left: rem-calc(10);

    @media only screen and (min-width: theme('screens.lg')) {
      font-size: rem-calc(18);
      line-height: 1.6;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: none;
    counter-reset: item;
    padding-left: 0;

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: rem-calc(44);

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: counter(item) '.';
        display: inline-block;
        counter-increment: item;
        font-family: $font-gazpacho;
        font-weight: 500;
        font-size: rem-calc(24);
        line-height: 1.4;
        margin-right: rem-calc(16);
      }
    }

    @media only screen and (min-width: theme('screens.lg')) {
      li {
        &::before {
          margin-right: rem-calc(32);
          font-weight: 700;
          font-size: rem-calc(32);
        }
      }
    }
  }
}

%blockquote {
  blockquote {
    background: rgb($beige-3);
    border-left: rem-calc(10) solid rgb($blue);
    padding: rem-calc(20) rem-calc(10);
    quotes: '\201C''\201D''\2018''\2019';

    &::before {
      content: open-quote;
      color: rgb($blue);
      font-size: rem-calc(60);
      line-height: rem-calc(1);
      margin-right: rem-calc(10);
      vertical-align: rem-calc(-25);
    }

    p {
      display: inline;
    }
  }
}

%separator {
  hr {
    border: none;
    height: 1px;
    margin: rem-calc(20) 0;
  }
}

%paragraph {
  p {
    font-size: rem-calc(16);
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.025rem;

    @media only screen and (min-width: theme('screens.lg')) {
      font-size: rem-calc(18);
      line-height: 1.6;
    }
  }
}

.rich-text {
  color: rgb($blue);

  @extend %paragraph;
  @extend %titles;
  @extend %links;
  @extend %lists;
  @extend %blockquote;
  @extend %separator;
}
